ul {
    display: flex;
    flex-wrap: wrap;  
}

li {
    border: solid 1px; color: rgb(113, 7, 75);
    margin: 2rem;
    
}

.freelancers {
    border-radius: 50%;
    text-align: justify;
    
}
#average{
    border: solid 1px; color: black;
    background-color: aqua;
}